<div id="page-wrapper">
  <div id="page">

  <!--Start: Branding and Menu -->
<div id="stick">
  <div class="menu">
    <div class="container">
      <div class="row">
        {% if page.header %}
          <div class="col-xs-6 col-md-4">
            {{ page.header }}
          </div>
        {% endif %}
        <!-- Navigation -->
        {% if page.menu %}
          <div class="col-xs-6 col-md-8">
            {{ page.menu }} 
          </div>
        {% endif %}
        <!--End Navigation -->
      </div>
    </div>
  </div>
</div>

  <!--Start: Slider -->
    {% if page.slider %}
      <div class="slider">
              {{ page.slider }}
      </div>
    {% endif %}
  <!--End: Slider -->


      <!--- Start content -->
      {% if page.content %}
        <div class="container">
          <div class="row contenido">
              {{ page.content }}
          </div>
        </div>
      {% endif %}
      <!---End content -->


<!--Start: Footer -->
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          {{ page.footera }}
        </div>
      </div>
    </div>
  </div>
<!--End: Footer -->

  </div>
</div>