<div id="page-wrapper">
  <div id="page">

    <div id="stick">
        <div class="container">
              <div class="col-xs-6 col-md-3">
                {{ page.header }}
              </div>
              <div class="submenu col-md-7">
                <div>
                  {{ page.submenu }} 
                </div>
              </div>
              <div class="col-xs-6 col-md-2">
                {{ page.switcher }} 
              </div>
        </div>
    </div>

      <div class="menu">
        <div class="container">
            <div class="col-xs-5 col-md-9 col-md-offset-1">
              {{ page.menu }}
            </div>
            <div class="col-xs-7 col-md-2">
                <ul class="social">
									<li><a href="#" class="icon fa-facebook"><span></span></a></li>
									<li><a href="#" class="icon fa-twitter"><span></span></a></li>
                  <li><a href="#" class="fa-vimeo"><span></span></a></li>
								</ul>
            </div>
        </div>
      </div>

      <div class="linea"></div>

    {% if page.mensajes %}
      <div class="container">
        <div class="row mensajes">
            {{ page.mensajes }}
        </div>
      </div>
    {% endif %}

<div class="container"> 
  <div class="row contenido">
      <div class="col-md-12">
        <h1>{{ page['#title'] }}</h1>
      </div>
      <div class="col-md-6">
        {{ page.content }}
      </div>
      <div class="col-md-6">
        {{ page.contentright }}
      </div>
  </div>
</div>

    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            {{ page.footera }}
          </div>
          <div class="col-md-4">
            {{ page.footerb }}                
                <ul class="social-footer">
									<li><a href="#" class="icon fa-facebook"><span></span></a></li>
									<li><a href="#" class="icon fa-twitter"><span></span></a></li>
                  <li><a href="#" class="fa-envelope"><span></span></a></li>
                  <li><a href="#" class="fa-vimeo"><span></span></a></li>
								</ul>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>